<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %>!!</h1>
    <p>Portal donde podrás crear tus juegos de preguntas y respuestas.</p>
  </body>
</html>
