<div class="form-group">
	<label for="">Pregunta:</label>
	<input type="text" name="quiz[pregunta]" class="form-control" id="" placeholder="<%= quiz.pregunta %>">
</div>
<div class="form-group">
	<label for="">Respuesta:</label>
	<input type="text" name="quiz[respuesta]" class="form-control" id="" placeholder="<%= quiz.respuesta %>">
</div>

<button type="submit" class="btn btn-primary">Guardar</button>
<a href="/quizes" class="btn btn-link" role="button">Cancelar</a>