<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div id="custom-search-input">
                <div class="input-group col-md-12">
                	<form action="/quizes" method="get" role="form">
                    <input type="text" name="search" class="form-control input-md" placeholder="Buscar pregunta" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </form>
                </div>
            </div>
			
			<h2>Lista de Preguntas</h2>
			<ul class="list-group">
				<% var i; for (i=0; i < quizes.length; i++) { %>
					<a href="quizes/<%= quizes[i].id %>" class="list-group-item"><%= quizes[i].pregunta %></a>
				<% } %>
			</ul>
		</div>
	</div>
</div>