<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div id="custom-search-input">
                <div class="input-group col-md-12">
                	<form action="/quizes" method="get" role="form">
                    <input type="text" name="search" class="form-control input-md" placeholder="Buscar pregunta" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </form>
                </div>
            </div>
			
			<h2>Lista de Preguntas</h2>
			<ul class="list-group">
				<% var i; for (i=0; i < quizes.length; i++) { %>
					<a href="quizes/<%= quizes[i].id %>" class="list-group-item">
						<span class="glyphicon glyphicon-question-sign"></span>
						<%= quizes[i].pregunta %>
					</a>
					<a href="quizes/<%= quizes[i].id %>/edit" class="btn btn-xs btn-info" role="button">Editar</a>
					<a href="" class="btn btn-xs btn-warning" role="button"><span class="glyphicon glyphicon-trash"></span></a>
					<hr>
				<% } %>
			</ul>

			<a href="/quizes/new" class="btn btn-primary" role="button">Crear pregunta</a>
		</div>
	</div>
</div>