<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form action="/quizes/create" method="post" role="form">
					<legend>Añadir pregunta: </legend>

					<% include _form.ejs %>
			</form>
		</div>
	</div>
</div>